<!DOCTYPE html>
<html ng:app="App" ng:controller="Ctrl">
<head>
  <title><%= TITLE %></title>
  <%= stylesheet_link_tag    'splash' %>
  <%= javascript_include_tag 'splash' %>
  <%= csrf_meta_tags %>
</head>
<body>

	<% flash.each do |type,message| %>
		<alert type="<%= type %>"><%= message %></alert>
	<% end %>

	<% if user_table %>
		<%= yield %>
	<% else %>
		<alert class="forever">User table missing. Please run 'rake db:migrate'.</alert>
	<% end %>

</body>
</html>